@page "/"
@using WoN.DataProvider
@using WoN.Model
@using WoN.Components.Leaves
@using System.Globalization


@inject IDataProvider<LeavesModel> DataProvider

<h3>Leaves</h3>
@rendermode InteractiveServer

@if (leaves == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h4>Start month: @leaves.StartMonth</h4>
    <br/>


    <div class="container">

        <div class="employees">
            <div class="employee header">Name</div>
            @foreach (var empl in leaves.EmployeeLeaves)
            {
                <div id="@empl.EmployeeId" class="employee">
                    @empl.EmployeeName
                </div>
            }
        </div>

        @* @for (var m = leaves.StartMonth; m < leaves.StartMonth + leaves.Months; m += 1) *@
        @for (var m = leaves.StartMonth; m < 5; m += 1)
        {
            <div class="months">
                <div class="months header">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(leaves.StartMonth)</div>
                @foreach (var month in leaves.EmployeeLeaves.Select(el => el.TimeTrackingDays[1]).ToArray())
                {
                    <div class="month">
                        <Month Days=month></Month>
                    </div>
                }       
            </div>
        }

    </div>
}

<button type="button" @onclick="ButtonClickCount">Count = @counter</button>



@code {
    private LeavesModel? leaves;

    protected override async Task OnInitializedAsync()
    {
        leaves = await DataProvider.GetDataAsync();
    }

    private int counter;

    private void ButtonClickCount()
    {
        counter += 1;
    }

}